    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{% url 'blog_article:category_article' 'Python' %}">
                            <img src="/main/static/main/img/carousel/python_720.jpg" class="d-block w-100" alt="..."></a>
                        <div class="carousel-caption d-none d-md-block" style="color: darkorange;">
                            <h5>Pure Python</h5>
                            <p>A new world of programming - Easy - Mobility - Large Community.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/main/static/main/img/carousel/django_720.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block" style="color: darkorange;">
                            <h5>Django</h5>
                            <p>Powerful Framework with Powerful Support</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/main/static/main/img/carousel/html_720.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block" style="color: darkorange;">
                            <h5>HTML5</h5>
                            <p>The Standard Web Protocol of The Future</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/main/static/main/img/carousel/css_720.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block" style="color: darkorange;">
                            <h5>CSS5</h5>
                            <p>Turn Your Website into Creation You have ever seen before</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="position-relative mt-3">
            <div class="d-flex justify-content-center">
                <a class="btn btn-warning" type="button" href="{% url 'blog_article:article_list' %}">Enter Here</a>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>


{
