{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Article Create Update
{% endblock %}
{% block content %}
    <h2>NEW/UPDATE ARTICLE</h2>
    <hr>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11 min-vh-100">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.media }}
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group d-flex justify-content-end">
                        <button class="btn btn-outline-primary" type="submit">Save Article</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}