<ul class="pagination d-flex justify-content-end mb-5">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">First</span></li>
        {% endif %}
        {% for num in page_obj.paginator.page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
            {% else %}
                {% if num == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Last</span></li>
        {% endif %}
    {% endif %}
</ul>