{% extends "base.html" %}
{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">Documentation</a>
    {% endif %}
    Change password
        <a href="{% url 'admin:logout' %}">Log out</a>
{% endblock %}

{% block content %}
    <h3>PASSWORD CHANGE DONE</h3>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <p>Your password was changed.</p>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'users:profile' %}">Back to Profile</a>
        </div>
    </div>

{% endblock %}
