{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block content %}
    <h4>PASSWORD RESET</h4>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <span>Forgotten your password?</span><br>
            <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method="POST">
                <div class="row">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ form.email.errors }}
                        <label class="input-group-text" for="{{ form.email.id_for_label }}">
                            {{ form.email.label }} @
                        </label>
                        {% crispy_field form.email 'class' 'form-control' %}
                        <input type="submit" class="btn btn-sm btn-warning" value="Reset Password">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
